
@{
   // ViewBag.Title = "Error";
}
<style>
        h2 {
            width: 600px;
            margin: 40px auto;
            font-family: 'trebuchet MS', 'Lucida sans', Arial;
            font-size: 18px;
            color: #444;
        }

    </style>

<h2 style="">@ViewBag.Title</h2>

